*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./backgroundImage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
}


input[type="text"],
input[type="password"],
textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}


#submit{
    background-color: #182638;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px; 
}

#submit:hover{
    background-color: #3c41aa;
}

h1{
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.showhome{
    margin: 10px;
}
#frgpsw{
    margin-top: 15px;
}

#required{
    color: red;
}